html, body {
    text-align: left;
    line-height: 24px;
    overflow-x: hidden;
}

a.backlink {
    display: block;
    width: max-content;

    margin: auto;
    margin-top: 64px;
    text-align: center;
    font-size: 1.15rem;
}

td {
    padding: 6px 6px 0 0;
}

div.wrapper li {
    font-size: 1.15rem;
}

div.wrapper img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.main {
    height: min-content;
    align-items: normal;
}

div.wrapper {
    width: calc(60% - 300px);
    margin: 64px 0;
    margin-left: 300px;
}

h3#datesmall {
    display: none;
    -webkit-text-stroke: 1px var(--lighterer);
    color: rgba(0, 0, 0, 0);
}

@media only screen and (max-width: 1080px) {
    div.wrapper {
        width: calc(80%);
        margin-left: 0px;
    }

    div.sidebar {
        display: none;
        width: 100vw !important;
        z-index: 999;
    }

    span.x {
        display: inline !important;
    }

    span#date {
        display: none;
    }

    h3#datesmall {
        display: block;
    }
}