---
import '../styles/style.css';

const osts = await Astro.glob('../../public/ost.json');
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x=icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>skuqre</title>

		<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	</head>
	<body>
		<div class="main">
			<div class="wrapper">
				<h1>404: <span class="empty">PAGE NOT FOUND!</span></h1>
				<p>Where do we go from here? <a href="/">I really can't see the way!</a></p>
				<hr>
				<p>Want to listen to some tunes? Here's a random NIKKE OST for you!</p>
				<div id="nikke-ost"></div>
			</div>
		</div>

		<script define:vars={{osts}}>
			const ostArray = osts[0].default;
			const ostDiv = document.getElementById("nikke-ost");
			fetch('https://noembed.com/embed?url=' + ostArray[Math.round(Math.random() * (ostArray.length - 1))]).then((r) => {
				r.json().then((e) => {
					ostDiv.innerHTML = e.html;

					document.querySelectorAll("iframe")[0].setAttribute('width', '480');
					document.querySelectorAll("iframe")[0].setAttribute('height', '270');
					document.querySelectorAll("iframe")[0].style['borderRadius'] = '16px';
				});
			});
		</script>
	</body>
</html>