---
import '../styles/style.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x=icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>skuqre</title>

		<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

		<meta name="title" content="skuqre">
		<meta name="description" content="A guy who does his best. It's just about his worst as well.">
	</head>
	<body>
		<div class="main" style="margin-top: 256px; margin-bottom: 256px; align-items: flex-start;">
			<div class="wrapper">
				<h1>HI, I'M <span class="empty">SKUQRE</span>.</h1>
				<p>I create things. I code them terribly.</p>
				<p>"Jack of all trades, master of none"</p>
				<div class="mediatray" style="width: 30%;">
					<a title="YouTube" href="https://www.youtube.com/@skuqre" target="_blank"><i class='bx bxl-youtube' ></i></a>
					<a title="GitHub" href="https://github.com/skuqre" target="_blank"><i class='bx bxl-github'></i></a>
					<a title="Blog" href="/blog"><i class='bx bxs-note'></i></a>
				</div>
				<hr>
				<p>Here are my current projects!</p>
				<div class="mediatray projtray" style="max-width: 600px;">
					<a href="https://skuqre.github.io/nikke-font-generator/" target="_blank" class="projlink">
						<span>NIKKE Font Generator</span>
						<span class="status active">Maintaining</span>
						<span class="projdesc">A site that lets you create fake screenshots from NIKKE. Inaccurate enough to look fake, but to feel real. Used by NIKKE players to bring their fanfiction to life.</span>
					</a>
					<a href="https://skuqre.github.io/rb-anise/" target="_blank" class="projlink">
						<span>Rebuild Anisé</span>
						<span class="status active">Online</span>
						<span class="projdesc">A NIKKE Discord bot that provides you with (almost) everything you need. Currently only for one server -- but I'd like it to be public someday!</span>
					</a>
					<a href="https://github.com/skuqre/ultimate" target="_blank" class="projlink">
						<span>Ultimate Scenario Creator</span>
						<span class="status indev">In development</span>
						<span class="projdesc">The successor to NIKKE Font Generator -- "Ultimate", is in heavy development. <i>"How accurate is too accurate?"</i></span>
					</a>
					<a href="https://skuqre.github.io/anisa/" target="_blank" class="projlink">
						<span>Anisa</span>
						<span class="status paused">Still online, but no major updates</span>
						<span class="projdesc">A NIKKE information aggregator that (kinda) sucks. No more major updates, as I treat it now as a site for some data coming from me!</span>
					</a>
					<a href="https://github.com/skuqre/anise/" target="_blank" class="projlink">
						<span>Anisé</span>
						<span class="status inactive">Archived!</span>
						<span class="projdesc">A "multipurpose" Discord Bot made in disnake. Discontinued and now superseded by Rebuild Anisé.</span>
					</a>
				</div>
			</div>
		</div>
	</body>
</html>