---
import '../styles/style.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x=icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>skuqre</title>

		<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	</head>
	<body>
		<div class="main">
			<div class="wrapper">
				<h1>HI, I'M <span class="empty">SKUQRE</span>.</h1>
				<p>I create things. I code them terribly.</p>
				<p>"Jack of all trades, master of none"</p>
				<div class="mediatray" style="width: 30%;">
					<a title="YouTube" href="https://www.youtube.com/@skuqre" target="_blank"><i class='bx bxl-youtube' ></i></a>
					<a title="GitHub" href="https://github.com/skuqre" target="_blank"><i class='bx bxl-github'></i></a>
					<a title="Blog" href="/blog"><i class='bx bxs-note'></i></a>
				</div>
				<hr>
				<p>Here are my current projects!</p>
				<div class="mediatray projtray" style="width: 420px;">
					<a href="https://skuqre.github.io/nikke-font-generator" target="_blank" class="projlink">NIKKE Font Generator</a>
					<a href="https://skuqre.github.io/anisa" target="_blank" class="projlink">Anisa</a>
					<a href="https://skuqre.github.io/rb-anise" target="_blank" class="projlink">Rebuild Anisé</a>
					<a href="https://skuqre.github.io/anise" target="_blank" class="projlink">Anisé (archived)</a>
				</div>
			</div>
		</div>
	</body>
</html>