---
import '../styles/style.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x=icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>skuqre</title>

		<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

		<meta name="title" content="skuqre">
		<meta name="description" content="A guy who does his best. It's just about his worst as well.">
	</head>
	<body>
		<div class="main">
			<div class="wrapper">
				<h1>UNDER <span class="empty">CONSTRUCTION</span>!</h1>
				<p>Be right back! A site redesign is underway.</p>
			</div>
		</div>
	</body>
</html>