---
const glob = await Astro.glob('../pages/blog/*/*-*.md');
const posts = JSON.parse(JSON.stringify(glob));

---

<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<h2 class="open"><i class='bx bx-menu'></i></h2>
<div class="sidebar">
    <h2><a href="/blog">Blog</a> <span class='x' style="display: none;">✕</span></h2>
    <hr>
    <ul class="main">
        {posts.sort().reverse().map((post: any) => <li><a href={post.url}><b>[{post.frontmatter.date}]</b> {post.frontmatter.title}</a></li>)}
    </ul>
    <ul class="back">
        <li>
            <a href="/"><i class='bx bx-arrow-back' > </i> Go back</a>
        </li>
    </ul>
</div>

<script>
    let onshow = (document.querySelectorAll('div.sidebar')[0] as HTMLDivElement).computedStyleMap().get('display') == 'block';
    document.querySelectorAll('span.x')[0].addEventListener('click', () => {
        onshow = !onshow;
        (document.querySelectorAll('div.sidebar')[0] as HTMLDivElement).style.display = onshow ? 'block' : 'none';
        (document.querySelectorAll('div.wrapper')[0] as HTMLDivElement).style.marginLeft = onshow ? '300px' : '0';
    })

    document.querySelectorAll('h2.open')[0].addEventListener('click', () => {
        onshow = !onshow;
        (document.querySelectorAll('div.sidebar')[0] as HTMLDivElement).style.display = onshow ? 'block' : 'none';
        (document.querySelectorAll('div.wrapper')[0] as HTMLDivElement).style.marginLeft = onshow ? '300px' : '0';
    })
</script>

<style>
    h2 {
        padding: 24px 24px 0 24px;
        margin: 0;
        width: calc(100% - 50px);
        display: block;
    }

    div.sidebar {
        top: 0;
        bottom: 0;
        width: 300px;
        height: 100vh;
        position: fixed;
        background-color: var(--darker);
    }

    ul {
        list-style-type: none;
        padding: 0 16px;
        margin: 0;
    }

    li {
        width: 100%;
        height: max-content;

        margin-bottom: 16px;
        border: 1px solid var(--light);
        color: var(--light);
        transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, font-weight 0.2s ease-in-out;
    }

    li:hover {
        background-color: var(--light);
        color: var(--darker);
        font-weight: bold;

        transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, font-weight 0.2s ease-in-out;
    }

    span.x {
        float: right;
        -webkit-text-stroke: 1px var(--lighterer);
        color: rgba(0, 0, 0, 0);
    }

    h2.open {
        position: fixed;
        top: 16px;
        right: 16px;
        text-align: right;
        width: min-content;
    }

    a {
        text-decoration: none;
        color: var(--light);
    }

    a:hover {
        color: var(--accent);
    }

    li > a {
        transition: none;
        color: inherit;
        padding: 12px 16px;
        display: block;
    }

    ul.back {
        position: absolute;
        bottom: 0;
        width: calc(100% - 32px);
        padding: 16px;

        background-color: var(--darker);
    }
    
    ul.back li {
        margin: 0;
        text-align: center;
    }

    ul.main {
        height: calc(100% - 166px);
        overflow-y: auto;
        overflow-x: hidden;
    }
</style>